@charset "utf-8";

// mfp brand colors & font
$mfp-background-color: #f5f5fb;
$mfp-font-family: 'Nunito' , sans-serif;
$mfp-family-monospace: 'Nunito', sans-serif;
$mfp-title-color: #34495e;
$mfp-button-color: #6cd2bd;
$figuro-primary: #5258ca;
$figuro-secondary: #7377c7;

// Update Bulma's global variables
$family-sans-serif: $mfp-font-family;
$family-monospace: $mfp-family-monospace;
$title-color: $mfp-title-color;
$grey-dark: $mfp-title-color;
$grey-light: $mfp-title-color;
$black: $figuro-primary;
$black-bis: $mfp-title-color;
$black-ter: $figuro-secondary;
$link: $figuro-secondary;

$primary: $figuro-primary;
$navbar-background-color: $mfp-background-color;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
// $navbar-height: 3rem;

// Update some of Bulma's component variables
$body-background-color: $mfp-background-color;
$control-border-width: 1.5px;
$control-radius: 8px;
$menu-label-font-size: 0.7em;
// $input-border-color: transparent;
// $input-shadow: none;
$notification-padding: 0.5rem 2.5rem 0.5rem 1.5rem;
$notification-padding-ltr: 0.5rem 2.5rem 0.5rem 1.5rem;
$notification-padding-rtl: 0.5rem 2.5rem 0.5rem 1.5rem;

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Import only what you need from Bulma
@import '../../../node_modules/bulma/bulma.sass';
@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/base/_all.sass';
@import '../../../node_modules/bulma/sass/elements/button.sass';
@import '../../../node_modules/bulma/sass/elements/container.sass';
@import '../../../node_modules/bulma/sass/elements/title.sass';
@import '../../../node_modules/bulma/sass/form/_all.sass';
@import '../../../node_modules/bulma/sass/components/navbar.sass';
@import '../../../node_modules/bulma/sass/layout/hero.sass';
@import '../../../node_modules/bulma/sass/layout/section.sass';